doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='/javascripts/sockets.js')
  body
    button#send.btn.btn-primary.disabled Say Yo!
    div#messages
